<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="TestNg.Test1"/>
      <class name="TestNg.BeforeAndAfterClass"/>
      <class name="kpack.ClassThree"/>
      <class name="kpack.ClassOne"/>
      <class name="mpack.Classfive"/>
      <class name="opack.ClassSeven"/>
      <class name="kpack.ClassFour"/>
      <class name="kpack.ClassTwo"/>
      <class name="TestNg.BeforeMethod1"/>
      <class name="TestNg.AfterMethod1"/>
      <class name="mpack.ClassSix"/>
      <class name="TestNg.Priority"/>
      <class name="TestNg.Provider"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
